$hightlight: #ff4384;
$control: #003164;

.list-item {
  opacity: 0.3;
}

.title {
  background: rgba(255, 255, 255, 0.3);
}

li + li {
  margin-top: 42px;
}

.items {
  li + li {
    margin-top: 0px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #1a4673;
  }
}

.bottom-clock {
  border-radius: 50%;
  transform: translateY(50%);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.todo {
  overflow-y: hidden;
}

$ball-width: 106px;
.small-play {
  z-index: 1;
  width: $ball-width;
  height: $ball-width;
  border: 2px solid $hightlight;
  padding: 10px;
  background-clip: content-box;
  .icon {
    $ball-width: 80px;
    height: $ball-width;
    width: $ball-width;
    position: relative;
    &::before {
      $trangle: $ball-width / 4;
      content: '';
      width: $trangle;
      height: $trangle;
      position: absolute;
      border-width: $trangle 0 $trangle $trangle * 1.41421;
      border-color: transparent transparent transparent white;
      border-style: solid;
      left: $trangle * 1.5;
      top: $trangle;
    }
  }
}

.move {
  top: 0;
  transform: translateY(-50%);
}
