@import './styles/my-bootstrap.scss';

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
    display: block;
  }
}

.bg-pink {
  background: #ffedf7;
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
}
